.PriceButton {
  /* border: 1px solid; */
  border-radius: 6px;
  padding: 0.5rem;
}

.PriceButton:hover {
  background: rgb(6, 193, 103);
}
.PriceButton:active {
  background: darkgray
}

.PriceButton + .PriceButton {
  margin-left: 0.5rem 
}

.actions .button-group .PriceDropDown {
  flex-direction: row;
  width: unset;
}